body {
    padding-top: 60px;
    background-image: url("data:image/gif;base64,R0lGODlhBgAGAIAAAPr6%2Bv%2F%2F%2FyH5BAAAAAAALAAAAAAGAAYAAAIKTGCJBu2cYFyhAAA7");
    color: #A0A0A0;
    font-size: 16px;
}

.title {
    color: #E97B2D;
}

.date {
    font-size: 70%;
    text-align:right;
}

.edit-note { 
    font-size: 14px;
    margin-right:5px;
}

.remove-note { 
    font-size: 14px;
}

.modal-backdrop {
    background: none;
}

.draggable {
    padding: 0.5em;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 250px;
    min-height: 100px;
    
}

.ui-resizable {

}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
display: none;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}




